*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.aab
output.json
*.hprof
*.env
google-services.json
keystore.properties
release-keystore.jks
